{% extends '../layout/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
    
<div class="community-container">
    <!-- messages 표시 -->
    {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
                {% if "review_delete" in message.tags %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    
    <div class="review-container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'users:my_review' %}">review</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:my_community' %}">community</a>
            </li>
        </ul>

        {% if my_reviews %}
            {% for review in my_reviews %}
                <div class="review-card">
                    <!-- 삭제 버튼 -->
                    <div class="delete-btn">
                        <button class="btn btn-secondary rounded-pill" onclick="confirmDelete({{ review.reviewId }})">삭제</button>
                    </div>
                <div>리뷰추천개수
                    {{ review.recommend_count }}</div>
                    <!-- 상품 정보 -->
                    <div class="product-info">
                        {% if review.product %}
                            <a href="{% url 'product:product_detail' review.product_id %}">
                                <h2>{{ review.product.product_name }}</h2>
                            </a>
                            <span class="product-meta">
                                {{ review.product.convenient_store_name }} | {{ review.product.product_category_name }} | {{ review.product.product_price }}원
                            </span>
                            <img class="product-image" src="{{ review.product.product_image_url }}" alt="{{ review.product.product_name }}">
                        {% else %}
                            <p>상품정보가 없습니다.</p>
                        {% endif  %}
                    </div>
    
                    <!-- 작성자 정보 -->
                    <div class="review-author">
                        <img class="profile-pic" src="{{ review.author_profile }}" alt="{{ review.author_nickname }}">
                        <span class="author-name">{{ review.author_nickname }}</span>
                        <span class="review-date">{{ review.created_at|date:"Y.m.d" }}</span>
                    </div>
    
                    <!-- 리뷰 내용 -->
                    <div class="review-content">
                        <details>
                            <summary>맛</summary>
                            <p>{{ review.tasteContent }}</p>
                        </details>
                        <details>
                            <summary>가성비</summary>
                            <p>{{ review.priceContent }}</p>
                        </details>
                        <details>
                            <summary>특징</summary>
                            <p>{{ review.convenienceContent }}</p>
                        </details>
    
                        {% if review.reviewImageUrl %}
                            <details class="review-image-toggle">
                                <summary>리뷰 이미지 보기</summary>
                                <div class="review-image">
                                    <img src="{{ review.reviewImageUrl.url }}" alt="리뷰 이미지">
                                </div>
                            </details>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
    
        {% else %}
            <p class="no-review">작성한 리뷰가 없습니다.</p>
        {% endif %}
    </div>
</div>    
{% endblock content %}


{% block script %}
    <script src="{% static 'js/mywrite/mywrite_review.js' %}"></script>
    <script>
    console.log('review_list.html script...');

    function confirmDelete(review_id) {
        if (confirm("정말 이 리뷰를 삭제하시겠습니까?")) {
            location.href = `/users/my_review/delete/${review_id}/`;
        }
    }
    </script>
    
{% endblock script %}

    
